.map-container{
    width: 80%;
    height: auto;
    background-image: url("../../resources/wallAreaI.png");
    background-size: cover;
}
.climbs-container{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: lightblue;
}
.icon{
    background-image: url('../../resources/tape.png');
    background-repeat: no-repeat;
  display: inline-block;
  width: 30px; /* Icon width */
  height: 10px; /* Icon height */
}